[submodule "vendor/github.com/Unknwon/com"]
	path = vendor/github.com/Unknwon/com
	url = https://github.com/Unknwon/com
[submodule "vendor/github.com/go-macaron/inject"]
	path = vendor/github.com/go-macaron/inject
	url = https://github.com/go-macaron/inject
[submodule "vendor/gopkg.in/ini.v1"]
	path = vendor/gopkg.in/ini.v1
	url = https://gopkg.in/ini.v1
[submodule "vendor/gopkg.in/macaron.v1"]
	path = vendor/gopkg.in/macaron.v1
	url = https://gopkg.in/macaron.v1
[submodule "vendor/github.com/go-sql-driver/mysql"]
	path = vendor/github.com/go-sql-driver/mysql
	url = https://github.com/go-sql-driver/mysql
[submodule "vendor/github.com/golang/glog"]
	path = vendor/github.com/golang/glog
	url = https://github.com/golang/glog
[submodule "vendor/github.com/lib/pq"]
	path = vendor/github.com/lib/pq
	url = https://github.com/lib/pq
[submodule "vendor/github.com/rubenv/sql-migrate"]
	path = vendor/github.com/rubenv/sql-migrate
	url = https://github.com/rubenv/sql-migrate
[submodule "vendor/gopkg.in/gorp.v1"]
	path = vendor/gopkg.in/gorp.v1
	url = https://gopkg.in/gorp.v1
[submodule "vendor/github.com/mattn/go-sqlite3"]
	path = vendor/github.com/mattn/go-sqlite3
	url = https://github.com/mattn/go-sqlite3
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
